.Tab {
    width: 100%;
    text-align: left;
    padding: 15px 15px 15px 15px;

}

    .Tab .ajax__tab_header {
        font-family: Arial;
        font-size: 10px;
        font-weight: bold;
        display: block;
    }

    /*Tab Inactive*/
    .Tab .ajax__tab_tab {
        font-family: Arial;
        font-size: 8pt;
        font-weight: bold;
        text-align: left;
        padding: 0 7px 0 7px;
        border-right: thin solid #C0C0C0;
        border-top: thin solid #C0C0C0;
        border-left: thin solid #C0C0C0;
        background-color: #314868;
        width: 120px;
        color: #d5e0e9;
        height: 30px;
        vertical-align: middle;
        padding-top: 10px;     
    }


    /*Tab Active*/
    .Tab .ajax__tab_active .ajax__tab_tab {
        background-color: #E5252D;
        vertical-align: middle;
        height: 30px;
        color: #d5e0e9;
    }

    .Tab .ajax__tab_active .ajax__tab_outer {
        color: #306997;
        border:solid black 1px;
        font-size:20px;
        text-decoration:underline;
    }

    /*Tab Hover*/
    .Tab .ajax__tab_hover .ajax__tab_tab {
        background-color: #E5252D;
        vertical-align: middle;
        height: 30px;
        color: #d5e0e9;

    }

    .Tab .ajax__tab_hover .ajax__tab_inner {
        color: #306997;
    }

    .Tab .ajax__tab_hover .ajax__tab_outer {
    }

    /* Body */
    .Tab .ajax__tab_body {
        padding-top: 0px;
    }
